# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore specific files
Drug Overdose Deaths -checkpoint.ipynb
Vivek_Vihar_Data.csv

# Ignore CSV files inside AQI Statistics
PROJECTS/AQI Statistics/*.csv
